

<table width="100%" border="0" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td align="center"> <!-- CENTER CONTAINER -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px;margin: 0; padding: 40px;" background="#00a6ed" bgcolor="#00a6ed">
                <tbody>
                <tr>
                    <td width="100%">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td style="background-color:#ffffff;border-radius:16px;width: 100%;">
                                    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width: 100%; padding: 16px 16px 0 20px;">
                                                <span style="font-family: Inter, sans-serif; color: #000000; float: right; font-size: 16.7px;">Productium</span>
                                                <b style="font-family: Inter, sans-serif; color: #051923; opacity: 0.2; font-size: 62.17px;">welcome</b>
                                                <b style="font-family: Inter, sans-serif; color: #00A6ED; font-size: 82.89px; margin-top: -20px;">Productium</b>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>